<!DOCTYPE html>
<html lang="en" ng-app="githubViewer">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
</head>
<body>

    <div ng-controller="MainController">

        <div class="container">

            <h1>{{ message }}</h1>

            <div class="alert alert-danger" ng-show="error">
                {{ error }}
            </div>

            <div class="row">
                <div class="col-md-4">
                    <form role="form" ng-submit="searchUser(username)">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" ng-model="username" required />
                        </div>
                        <button class="btn btn-default" type="submit">Search</button>
                        <button class="btn btn-default" type="reset" ng-click="resetSearch()">Reset</button>
                    </form>
                </div>
            </div>

            <div ng-include="'userdetails.html'">
            </div>

        </div>
    </div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
</body>
</html>
